In [59]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [60]:
import sys
import pandas as pd

sys.path.append("../")
from utils.data_utils import preprocess_score_df, preprocess_pattern_map_df

In [61]:
score_df = pd.read_csv("../data/csa_score_1.csv")
pattern_map_df = pd.read_csv("../data/pattern_map.csv")

In [62]:
score_df.head(3)

,student ID,answer,total_score,pattern1_1,pattern1_2,pattern1_3,pattern1_4
0,6231306621,The problem is it required several chips and h...,2.0,0,0.0,1.0,1.0
1,6330141221,"Intel's planned ISA, the iAPX 432 (not 8800) f...",1.0,0,0.0,0.0,1.0
2,6330374121,"The 8800 project was alas several years late, ...",5.0,2,1.0,1.0,1.0

In [63]:
pattern_map_df.head(3)

,course_id,assignment_id,assignment_name,question_number,question,pattern_number,pattern,max_score,note
0,2110203,1124448,A_B_exercise_(0.5_extra_point_),1,อธิบายเหตุผลที่แฮมทาโร่ควรใช้ A/B testing ในกา...,1,NaN,NaN,NaN
1,2110203,1124448,A_B_exercise_(0.5_extra_point_),2,granularity ควรเป็นอะไร และความยาวของ attribut...,1,NaN,NaN,NaN
2,2110203,1124448,A_B_exercise_(0.5_extra_point_),3,แฮมทาโร่เลือกที่จะใช้ binomial distribution เพ...,1,NaN,NaN,NaN

In [64]:
preprocessed_pattern_map_df = preprocess_pattern_map_df(pattern_map_df)
preprocessed_pattern_map_df.head(3)

,course_id,assignment_id,assignment_name,question_number,question,pattern_number,pattern,max_score,note
0,2110203,1124448,A_B_exercise_(0.5_extra_point_),1,อธิบายเหตุผลที่แฮมทาโร่ควรใช้ A/B testing ในกา...,1,NaN,NaN,NaN
1,2110203,1124448,A_B_exercise_(0.5_extra_point_),2,granularity ควรเป็นอะไร และความยาวของ attribut...,1,NaN,NaN,NaN
2,2110203,1124448,A_B_exercise_(0.5_extra_point_),3,แฮมทาโร่เลือกที่จะใช้ binomial distribution เพ...,1,NaN,NaN,NaN

In [65]:
preprocessed_pattern_map_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   course_id        21 non-null     object
 1   assignment_id    21 non-null     object
 2   assignment_name  21 non-null     object
 3   question_number  21 non-null     int64
 4   question         21 non-null     object
 5   pattern_number   21 non-null     int64
 6   pattern          17 non-null     object
 7   max_score        17 non-null     float64
 8   note             1 non-null      object
dtypes: float64(1), int64(2), object(6)
memory usage: 1.6+ KB

In [66]:
preprocessed_score_df = preprocess_score_df(score_df)
preprocessed_score_df.head()

,student ID,answer,total_score,pattern1_1,pattern1_2,pattern1_3,pattern1_4
0,6231306621,The problem is it required several chips and h...,2.0,0.0,0.0,1.0,1.0
1,6330141221,"Intel's planned ISA, the iAPX 432 (not 8800) f...",1.0,0.0,0.0,0.0,1.0
2,6330374121,"The 8800 project was alas several years late, ...",5.0,2.0,1.0,1.0,1.0
3,6330581721,the 8800 is take too long to develop and has p...,3.0,2.0,0.0,1.0,0.0
4,6331310121,It took too long to develop and when it was co...,5.0,2.0,1.0,1.0,1.0